body {
  background-color: rgb(193, 193, 253);
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center; /* vertically */
  justify-content: center; /* horizontally */
}

.dialogbox {
  border: none;
  border-radius: 10%;
  padding: 10%;
  background-color: white;
  font-family: "Calibri";
  color: rgb(37, 45, 51);
  font-size: large;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.dialogbox h2 {
  color: rgb(130, 130, 148);
  font-weight: normal;
  font-size: 32px;
  font-family: "Calibri";
  text-align: left;
  margin: 0%;
}

#bselect {
  height: 35px;
}

.dialogbox input,
select {
  width: 100%;
  border: none;
  border-radius: 3%;
  padding: 3%;
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  appearance: none; /* helps unify styles between input/select */
  background-color: rgb(240, 240, 248);
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  appearance: none; /* helps unify styles between input/select */
  color: rgb(131, 141, 150);
}

#ds {
  margin-top: 50px;
  margin-bottom: none;
  background-color: rgb(81, 81, 112);
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  color: white;
}
